{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'bower_components/snackbarjs/dist/snackbar.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/snackbarjs/themes-css/material.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/components-font-awesome/css/font-awesome.min.css' %}"/>
{#<link rel="stylesheet" type="text/css" href="{% static 'CreativeButtons/css/default.css' %}" />#}
{#<link rel="stylesheet" type="text/css" href="{% static 'CreativeButtons/css/component.css' %}" />#}
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/textAngular/src/textAngular.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-ui-select/dist/select.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/esport42.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/esport42-animations.css' %}"/>
