{% load staticfiles %}

<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular-cookies.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular-messages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.equals.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.usernameAvailable.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.focusOn.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.emailAvailable.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/posts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/services/posts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/esport42.layouts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/controllers/navbar.controller.js' %}"></script>
