{% load staticfiles %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-messages/angular-messages.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/dropdown.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/underscore/underscore-min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/snackbarjs/dist/snackbar.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/ng-file-upload/ng-file-upload.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/textAngular/dist/textAngular-sanitize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/textAngular/dist/textAngular-rangy.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/textAngular/dist/textAngular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/utils.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/services/utils.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/directives/utils.paypalButton.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/utils.filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.equals.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.usernameAvailable.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.focusOn.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/directives/authentication.emailAvailable.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/posts.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/services/posts.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tournaments/tournaments.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tournaments/controllers/tournament-detail.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tournaments/controllers/tournament-detail-register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tournaments/services/tournaments.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/tournaments/directives/tournaments.teamNameAvailable.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/esport42.layouts.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/directives/layouts.post.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layouts/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/posts/controllers/post.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/utils/test.controller.js' %}"></script>