{% load staticfiles %}

<script type="text/javascript" src="{% static 'angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'angular/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/esport42.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/site/site.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/site/controllers/register.controller.js' %}"></script>
