<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1>Register</h1>
        <div class="well">
            <form role="form" name="registerForm" ng-submit="vm.registerMandatory(registerForm.$valid)" ng-if="!vm.next">

                <div class="form-group"
                        ng-class="{'has-success': registerForm.email.$valid,
                                    'has-error': registerForm.email.$dirty && registerForm.email.$invalid}">
                    <label for="register__email">Email</label>
                    <input type="email"
                           name="email"
                           class="form-control"
                           id="register__email"
                           placeholder="example@example.com"
                           ng-model="vm.form.email"
                           ng-pattern="vm.EMAIL_REGEXP"
                           ng-model-options="{ updateOn: 'blur', debounce: { blur: 0 } }"
                           ng-required="true"
                           email-available autofocus/>
                    <div ng-if="registerForm.email.$pending">Email en cours de vérification...</div>
                    <ng-messages ng-if="registerForm.email.$dirty" for="registerForm.email.$error" class="text-danger">
                        <ng-message when="required">L'email est requis pour l'inscription.</ng-message>
                        <ng-message when="pattern">L'email entré doit etre valide.</ng-message>
                        <ng-message when="emailAvailable">L'email entré est déjà pris.</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerForm.username.$valid,
                                    'has-error': registerForm.username.$dirty && registerForm.username.$invalid}">
                    <label for="register__username">Pseudo</label>
                    <input type="text"
                           class="form-control"
                           id="register__username"
                           placeholder="XxKittyKatdu94xX"
                           name="username"
                           ng-model="vm.form.username"
                           ng-model-options="{ updateOn: 'blur', debounce: { blur: 0 } }"
                           minlength="3"
                           maxlength="30"
                           username-available
                           required/>
                    <div ng-if="registerForm.username.$pending">Checking username...</div>
                    <ng-messages ng-if="registerForm.username.$dirty" for="registerForm.username.$error" class="text-danger">
                        <ng-message when="required">Le pseudo est requis pour l'inscription.</ng-message>
                        <ng-message when="minlength">Le pseudo est trop court.</ng-message>
                        <ng-message when="maxlength">Le pseudo est trop long.</ng-message>
                        <ng-message when="usernameAvailable">Le pseudo est déjà pris.</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerForm.password.$valid,
                                    'has-error': registerForm.password.$dirty && registerForm.password.$invalid}">
                    <label for="register__password">Mot de passe</label>
                    <input type="password"
                           class="form-control"
                           id="register__password"
                           name="password"
                           ng-model="vm.form.password"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           minlength="5"
                           required/>
                    <ng-messages ng-if="registerForm.password.$dirty" for="registerForm.password.$error" class="text-danger">
                        <ng-message when="required">Le mot de passe est requis pour l'inscription.</ng-message>
                        <ng-message when="minlength">Le mot de passe est trop court.</ng-message>
                    </ng-messages>
                    <div ng-if="registerForm.password.$valid">
                        <input type="password"
                                placeholder="Confirmation"
                                name="passwordConfirm"
                                ng-model="vm.form.password_confirm"
                                ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                equals="{{ vm.form.password }}"
                                required/>
                        <ng-messages ng-if="registerForm.passwordConfirm.$dirty" for="registerForm.passwordConfirm.$error" class="text-danger">
                            <ng-message when="required">Le mot de passe est requis pour l'inscription.</ng-message>
                            <ng-message when="equals">Le mot de passe est différent.</ng-message>
                        </ng-messages>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" ng-disabled="registerForm.$invalid" class="btn btn-primary">Crée-moi un compte !</button>
                </div>
            </form>

<!-- SECOND PART OF THE FORM -->
            <form role="form" name="registerOptional" ng-submit="vm.registerOptional(registerOptional.$valid)" ng-if="vm.next">

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.firstName.$dirty && registerOptional.firstName.$valid,
                                    'has-error': registerOptional.firstName.$dirty && registerOptional.firstName.$invalid}">
                    <label for="register__firstName">Prénom</label>
                    <input type="text"
                           focus-on="FocusFirstName"
                           name="firstName"
                           class="form-control"
                           id="register__firstName"
                           placeholder="Jean-Jacques"
                           ng-model="vm.form.first_name"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           maxlength="40"/>
                    <ng-messages ng-if="registerOptional.firstName.$dirty" for="registerOptional.firstName.$error" class="text-danger">
                        <ng-message when="maxlength">Le prénom est trop long... Désolé :(.</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.lastName.$dirty && registerOptional.lastName.$valid,
                                    'has-error': registerOptional.lastName.$dirty && registerOptional.lastName.$invalid}">
                    <label for="register__lastName">Nom de famille</label>
                    <input type="text"
                           name="lastName"
                           class="form-control"
                           id="register__lastName"
                           placeholder="Dulac"
                           ng-model="vm.form.last_name"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                           maxlength="40"/>
                    <ng-messages ng-if="registerOptional.lastName.$dirty" for="registerOptional.lastName.$error" class="text-danger">
                        <ng-message when="maxlength">Le nom est trop long... Désolé :(.</ng-message>
                    </ng-messages>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.address.$dirty && registerOptional.address.$valid,
                                    'has-error': registerOptional.address.$dirty && registerOptional.address.$invalid}">
                    <label for="register__address">Addresse</label>
                    <input type="text"
                           name="address"
                           class="form-control"
                           id="register__address"
                           placeholder="14 rue des sempiternels exemples, 40400 Paris"
                           ng-model="vm.form.address"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.nationality.$dirty && registerOptional.nationality.$valid,
                                    'has-error': registerOptional.nationality.$dirty && registerOptional.nationality.$invalid}">
                    <label for="register__nationality">Nationalité</label>
						<select name="country" ng-model="vm.form.nationality">
						<option value="FR">Country...</option>
						<option value="AF">Afghanistan</option>
						<option value="AL">Albania</option>
						<option value="DZ">Algeria</option>
						<option value="AS">American Samoa</option>
						<option value="AD">Andorra</option>
						<option value="AG">Angola</option>
						<option value="AI">Anguilla</option>
						<option value="AG">Antigua &amp; Barbuda</option>
						<option value="AR">Argentina</option>
						<option value="AA">Armenia</option>
						<option value="AW">Aruba</option>
						<option value="AU">Australia</option>
						<option value="AT">Austria</option>
						<option value="AZ">Azerbaijan</option>
						<option value="BS">Bahamas</option>
						<option value="BH">Bahrain</option>
						<option value="BD">Bangladesh</option>
						<option value="BB">Barbados</option>
						<option value="BY">Belarus</option>
						<option value="BE">Belgium</option>
						<option value="BZ">Belize</option>
						<option value="BJ">Benin</option>
						<option value="BM">Bermuda</option>
						<option value="BT">Bhutan</option>
						<option value="BO">Bolivia</option>
						<option value="BL">Bonaire</option>
						<option value="BA">Bosnia &amp; Herzegovina</option>
						<option value="BW">Botswana</option>
						<option value="BR">Brazil</option>
						<option value="BC">British Indian Ocean Ter</option>
						<option value="BN">Brunei</option>
						<option value="BG">Bulgaria</option>
						<option value="BF">Burkina Faso</option>
						<option value="BI">Burundi</option>
						<option value="KH">Cambodia</option>
						<option value="CM">Cameroon</option>
						<option value="CA">Canada</option>
						<option value="IC">Canary Islands</option>
						<option value="CV">Cape Verde</option>
						<option value="KY">Cayman Islands</option>
						<option value="CF">Central African Republic</option>
						<option value="TD">Chad</option>
						<option value="CD">Channel Islands</option>
						<option value="CL">Chile</option>
						<option value="CN">China</option>
						<option value="CI">Christmas Island</option>
						<option value="CS">Cocos Island</option>
						<option value="CO">Colombia</option>
						<option value="CC">Comoros</option>
						<option value="CG">Congo</option>
						<option value="CK">Cook Islands</option>
						<option value="CR">Costa Rica</option>
						<option value="CT">Cote D'Ivoire</option>
						<option value="HR">Croatia</option>
						<option value="CU">Cuba</option>
						<option value="CB">Curacao</option>
						<option value="CY">Cyprus</option>
						<option value="CZ">Czech Republic</option>
						<option value="DK">Denmark</option>
						<option value="DJ">Djibouti</option>
						<option value="DM">Dominica</option>
						<option value="DO">Dominican Republic</option>
						<option value="TM">East Timor</option>
						<option value="EC">Ecuador</option>
						<option value="EG">Egypt</option>
						<option value="SV">El Salvador</option>
						<option value="GQ">Equatorial Guinea</option>
						<option value="ER">Eritrea</option>
						<option value="EE">Estonia</option>
						<option value="ET">Ethiopia</option>
						<option value="FA">Falkland Islands</option>
						<option value="FO">Faroe Islands</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finland</option>
						<option value="FR">France</option>
						<option value="GF">French Guiana</option>
						<option value="PF">French Polynesia</option>
						<option value="FS">French Southern Ter</option>
						<option value="GA">Gabon</option>
						<option value="GM">Gambia</option>
						<option value="GE">Georgia</option>
						<option value="DE">Germany</option>
						<option value="GH">Ghana</option>
						<option value="GI">Gibraltar</option>
						<option value="GB">Great Britain</option>
						<option value="GR">Greece</option>
						<option value="GL">Greenland</option>
						<option value="GD">Grenada</option>
						<option value="GP">Guadeloupe</option>
						<option value="GU">Guam</option>
						<option value="GT">Guatemala</option>
						<option value="GN">Guinea</option>
						<option value="GY">Guyana</option>
						<option value="HT">Haiti</option>
						<option value="HW">Hawaii</option>
						<option value="HN">Honduras</option>
						<option value="HK">Hong Kong</option>
						<option value="HU">Hungary</option>
						<option value="IS">Iceland</option>
						<option value="IN">India</option>
						<option value="ID">Indonesia</option>
						<option value="IA">Iran</option>
						<option value="IQ">Iraq</option>
						<option value="IR">Ireland</option>
						<option value="IM">Isle of Man</option>
						<option value="IL">Israel</option>
						<option value="IT">Italy</option>
						<option value="JM">Jamaica</option>
						<option value="JP">Japan</option>
						<option value="JO">Jordan</option>
						<option value="KZ">Kazakhstan</option>
						<option value="KE">Kenya</option>
						<option value="KI">Kiribati</option>
						<option value="NK">Korea North</option>
						<option value="KS">Korea South</option>
						<option value="KW">Kuwait</option>
						<option value="KG">Kyrgyzstan</option>
						<option value="LA">Laos</option>
						<option value="LV">Latvia</option>
						<option value="LB">Lebanon</option>
						<option value="LS">Lesotho</option>
						<option value="LR">Liberia</option>
						<option value="LY">Libya</option>
						<option value="LI">Liechtenstein</option>
						<option value="LT">Lithuania</option>
						<option value="LU">Luxembourg</option>
						<option value="MO">Macau</option>
						<option value="MK">Macedonia</option>
						<option value="MG">Madagascar</option>
						<option value="MY">Malaysia</option>
						<option value="MW">Malawi</option>
						<option value="MV">Maldives</option>
						<option value="ML">Mali</option>
						<option value="MT">Malta</option>
						<option value="MH">Marshall Islands</option>
						<option value="MQ">Martinique</option>
						<option value="MR">Mauritania</option>
						<option value="MU">Mauritius</option>
						<option value="ME">Mayotte</option>
						<option value="MX">Mexico</option>
						<option value="MI">Midway Islands</option>
						<option value="MD">Moldova</option>
						<option value="MC">Monaco</option>
						<option value="MN">Mongolia</option>
						<option value="MS">Montserrat</option>
						<option value="MA">Morocco</option>
						<option value="MZ">Mozambique</option>
						<option value="MM">Myanmar</option>
						<option value="NA">Nambia</option>
						<option value="NU">Nauru</option>
						<option value="NP">Nepal</option>
						<option value="AN">Netherland Antilles</option>
						<option value="NL">Netherlands (Holland, Europe)</option>
						<option value="NV">Nevis</option>
						<option value="NC">New Caledonia</option>
						<option value="NZ">New Zealand</option>
						<option value="NI">Nicaragua</option>
						<option value="NE">Niger</option>
						<option value="NG">Nigeria</option>
						<option value="NW">Niue</option>
						<option value="NF">Norfolk Island</option>
						<option value="NO">Norway</option>
						<option value="OM">Oman</option>
						<option value="PK">Pakistan</option>
						<option value="PW">Palau Island</option>
						<option value="PS">Palestine</option>
						<option value="PA">Panama</option>
						<option value="PG">Papua New Guinea</option>
						<option value="PY">Paraguay</option>
						<option value="PE">Peru</option>
						<option value="PH">Philippines</option>
						<option value="PO">Pitcairn Island</option>
						<option value="PL">Poland</option>
						<option value="PT">Portugal</option>
						<option value="PR">Puerto Rico</option>
						<option value="QA">Qatar</option>
						<option value="ME">Republic of Montenegro</option>
						<option value="RS">Republic of Serbia</option>
						<option value="RE">Reunion</option>
						<option value="RO">Romania</option>
						<option value="RU">Russia</option>
						<option value="RW">Rwanda</option>
						<option value="NT">St Barthelemy</option>
						<option value="EU">St Eustatius</option>
						<option value="HE">St Helena</option>
						<option value="KN">St Kitts-Nevis</option>
						<option value="LC">St Lucia</option>
						<option value="MB">St Maarten</option>
						<option value="PM">St Pierre &amp; Miquelon</option>
						<option value="VC">St Vincent &amp; Grenadines</option>
						<option value="SP">Saipan</option>
						<option value="SO">Samoa</option>
						<option value="AS">Samoa American</option>
						<option value="SM">San Marino</option>
						<option value="ST">Sao Tome &amp; Principe</option>
						<option value="SA">Saudi Arabia</option>
						<option value="SN">Senegal</option>
						<option value="RS">Serbia</option>
						<option value="SC">Seychelles</option>
						<option value="SL">Sierra Leone</option>
						<option value="SG">Singapore</option>
						<option value="SK">Slovakia</option>
						<option value="SI">Slovenia</option>
						<option value="SB">Solomon Islands</option>
						<option value="OI">Somalia</option>
						<option value="ZA">South Africa</option>
						<option value="ES">Spain</option>
						<option value="LK">Sri Lanka</option>
						<option value="SD">Sudan</option>
						<option value="SR">Suriname</option>
						<option value="SZ">Swaziland</option>
						<option value="SE">Sweden</option>
						<option value="CH">Switzerland</option>
						<option value="SY">Syria</option>
						<option value="TA">Tahiti</option>
						<option value="TW">Taiwan</option>
						<option value="TJ">Tajikistan</option>
						<option value="TZ">Tanzania</option>
						<option value="TH">Thailand</option>
						<option value="TG">Togo</option>
						<option value="TK">Tokelau</option>
						<option value="TO">Tonga</option>
						<option value="TT">Trinidad &amp; Tobago</option>
						<option value="TN">Tunisia</option>
						<option value="TR">Turkey</option>
						<option value="TU">Turkmenistan</option>
						<option value="TC">Turks &amp; Caicos Is</option>
						<option value="TV">Tuvalu</option>
						<option value="UG">Uganda</option>
						<option value="UA">Ukraine</option>
						<option value="AE">United Arab Emirates</option>
						<option value="GB">United Kingdom</option>
						<option value="US">United States of America</option>
						<option value="UY">Uruguay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VU">Vanuatu</option>
						<option value="VS">Vatican City State</option>
						<option value="VE">Venezuela</option>
						<option value="VN">Vietnam</option>
						<option value="VB">Virgin Islands (Brit)</option>
						<option value="VA">Virgin Islands (USA)</option>
						<option value="WK">Wake Island</option>
						<option value="WF">Wallis &amp; Futana Is</option>
						<option value="YE">Yemen</option>
						<option value="ZR">Zaire</option>
						<option value="ZM">Zambia</option>
						<option value="ZW">Zimbabwe</option>
						</select>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.birthDate.$dirty && registerOptional.birthDate.$valid,
                                    'has-error': registerOptional.birthDate.$dirty && registerOptional.birthDate.$invalid}">
                    <label for="register__birthDate">Date de naissance</label>
                    <p class="text-danger">Attention, la date est au format Mois/Jour/Année !</p>
                    <input type="date"
                           name="birthDate"
                           class="form-control"
                           id="register__birthDate"
                           ng-model="vm.date"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                </div>

                <div class="form-group"
                        ng-class="{'has-success': registerOptional.phone.$dirty && registerOptional.phone.$valid,
                                    'has-error': registerOptional.phone.$dirty && registerOptional.phone.$invalid}">
                    <label for="register__phone">Numéro de téléphone</label>
                    <input type="text"
                           name="phone"
                           class="form-control"
                           id="register__phone"
                           ng-model="vm.form.phone"
                           maxlength="14"
                           placeholder="0645931278"
                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"/>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Ajoute moi ces infos-là !</button>
                    <button type="button" class="btn btn-primary" ng-click="vm.next = !vm.next">Précédent</button>
                </div>
            </form>
        </div>
    </div>
</div>
