.animate-post.ng-animate {
  -webkit-transition:all ease 1s;
  transition:all ease 1s;

  position:relative;
}

.animate-post.ng-leave.ng-leave-active,
.animate-post.ng-enter {
    top:-50px;
    height: 200px;
}
.animate-post.ng-leave,
.animate-post.ng-enter.ng-enter-active {
    top:0;
    height: 0px;
}