<div  class="post-switch-container" ng-switch on="clicked">
    <div class="media animate-post post-summary" ng-switch-default>
        <div class="media-left media-top">
            <div class="thumbnail">
                <img class="media-object portrait" src="{{ article.imgFull }}">
            </div>
        </div>
        <div class="media-body">
            <div class="panel panel-default">
                <div class="panel-heading" ng-click="clickOn()">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <h4 class="media-heading panel-title">{{ article.title }} by {{ article.author }}</h4>
                        </div>
                        <div class="col-md-6 text-right">
                            <i ng-click="clickOn()" class="fa fa-search-plus fa-2x fake-link"></i>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="test"><span>{{ article.summary }}</span></p>
                    <p class="fake-link" ng-click="clickOn()">Lire l'article...</p>
                </div>
            </div>
        </div>
    </div>
    <div class="animate-post post-detail" ng-switch-when="true">
        <div class="panel panel-default">
            <div class="panel-heading" ng-click="clickOn()">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <h4 class="media-heading panel-title">{{ article.title }} par {{ article.author }}</h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <i class="fa fa-search-minus fa-2x fake-link"></i>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <img src="{{ article.imgFull }}" height="600"/>
                <div class="text-justified post-detail-text" ng-bind-html="article.text"></div>
                <button ng-click="clickOn()" type="button" class="button-close-block">Fermer l'article</button>
            </div>
        </div>
    </div>
</div>
