<div class="tournament">
    <h1 class="tournament-title">{{ vm.tournament.name }}:</h1>

    <div class="tournament-infos">
        <h3>Informations:</h3>

        <dl>
            <dt>Nombre de places (équipes)</dt>
            <dd>{{ vm.tournament.nbteams }} équipes</dd>
            <dt>Nombre de joueurs / équipes</dt>
            <dd>{{ vm.tournament.player_per_team }} joueurs</dd>
            <dt>Prix d'entrée</dt>
            <dd>{{ vm.tournament.price }}€ par personne</dd>
        </dl>
        <div ui-view><a ui-sref="tournament-detail.register" class="btn btn-default btn-lg" role="button"> S'inscrire !</a></div>
    </div>
</div>