<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>S'inscrire à {{ vm.tournament.name }}</h3></div>
                <div class="panel-body">
                    <form ng-if="!vm.submitionOk" role="form" name="registerForm" ng-submit="vm.register()">
                        <div class="form-group"
                             ng-class="{'has-success': registerForm.name.$valid,
                                         'has-error': registerForm.name.$dirty && registerForm.name.$invalid}">
                            <label for="team__name">Nom de l'équipe</label>
                            <input type="text" class="form-control" id="team__name"
                                   name="name"
                                   ng-model="vm.form.name"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   maxlength="50"
                                   required autofocus team-name-available="{{ vm.tournament.id }}"/>

                            <div ng-if="registerForm.name.$pending">Vérification du nom d'équipe...</div>
                            <ng-messages ng-if="registerForm.name.$dirty" for="registerForm.name.$error"
                                         class="text-danger">
                                <ng-message when="required">Le nom d'équipe est requis.</ng-message>
                                <ng-message when="maxlength">Le nom d'équipe est trop long.</ng-message>
                                <ng-message when="teamNameAvailable">Le nom d'équipe est déjà pris.</ng-message>
                            </ng-messages>
                        </div>

                        <div class="form-group"
                             ng-class="{'has-success': registerForm.tag.$valid,
                                         'has-error': registerForm.tag.$dirty && registerForm.tag.$invalid}">
                            <label for="team__tag">Tag de l'équipe</label>
                            <input type="text" class="form-control" id="team__tag"
                                   name="tag"
                                   ng-model="vm.form.tag"
                                   ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                   maxlength="5"
                                   required autofocus tag-available="{{ vm.tournament.id }}" input-capitalize/>

                            <div ng-if="registerForm.tag.$pending">Vérification du tag d'équipe...</div>
                            <ng-messages ng-if="registerForm.tag.$dirty" for="registerForm.tag.$error"
                                         class="text-danger">
                                <ng-message when="required">Le tag est requis pour créer l'équipe</ng-message>
                                <ng-message when="maxlength">Le tag ne doit pas dépasser 5 caractères</ng-message>
                                <ng-message when="tagAvailable">Le tag d'équipe est déjà pris.</ng-message>
                            </ng-messages>
                        </div>

                        <div class="form-group">
                            <label for="team__players">Composition de l'équipe (Membres du site)</label>
                            <ui-select multiple required ng-model="vm.form.members">
                                <ui-select-match placeholder="Veuillez sélectionner les joueurs de l'équipe">
                                    {{ $item.username }}</ui-select-match>
                                <ui-select-choices repeat="user in vm.users | filter: {$: $select.search}"
                                                   ui-disable-choice="user.username == vm.me.username || vm.form.members.length > vm.tournament.max_player - 1">
                                    <div ng-bind-html="user.username | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <div ng-if="vm.addNewPlayer == true" ng-init="vm.newUser = {}">
                                <div class="form-group"
                                     ng-class="{'has-success': registerForm.newUser_email.$valid,
                                    'has-error': registerForm.newUser_email.$dirty && registerForm.newUser_email.$invalid}">
                                    <label for="register__email">Email</label>
                                    <input type="email"
                                           name="newUser_email"
                                           class="form-control"
                                           id="register__email"
                                           placeholder="example@example.com"
                                           ng-model="vm.newUser.email"
                                           ng-pattern="vm.EMAIL_REGEXP"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                           ng-required="true"
                                           email-available autofocus/>

                                    <div ng-if="registerForm.newUser_email.$pending">Email en cours de vérification...
                                    </div>
                                    <ng-messages ng-if="registerForm.newUser_email.$dirty"
                                                 for="registerForm.newUser_email.$error"
                                                 class="text-danger">
                                        <ng-message when="required">L'email est requis pour l'inscription.</ng-message>
                                        <ng-message when="pattern">L'email entré doit etre valide.</ng-message>
                                        <ng-message when="emailAvailable">L'email entré est déjà pris.</ng-message>
                                    </ng-messages>
                                </div>
                                <div class="form-group"
                                     ng-class="{'has-success': registerForm.newUser_username.$valid,
                                    'has-error': registerForm.newUser_username.$dirty && registerForm.newUser_username.$invalid}">
                                    <label for="register__username">Pseudo</label>
                                    <input type="text"
                                           class="form-control"
                                           id="register__username"
                                           placeholder="XxKittyKatdu94xX"
                                           name="newUser_username"
                                           ng-model="vm.newUser.username"
                                           ng-model-options="{ updateOn: 'default blur', debounce: { default: 500, blur: 0 } }"
                                           minlength="3"
                                           maxlength="30"
                                           username-available
                                           required/>

                                    <div ng-if="registerForm.newUser_username.$pending">Checking username...</div>
                                    <ng-messages ng-if="registerForm.newUser_username.$dirty" for="registerForm.newUser_username.$error"
                                                 class="text-danger">
                                        <ng-message when="required">Le pseudo est requis pour l'inscription.
                                        </ng-message>
                                        <ng-message when="minlength">Le pseudo est trop court.</ng-message>
                                        <ng-message when="maxlength">Le pseudo est trop long.</ng-message>
                                        <ng-message when="usernameAvailable">Le pseudo est déjà pris.</ng-message>
                                    </ng-messages>
                                </div>

                                <button ng-disabled="!registerForm.newUser_email.$valid || !registerForm.newUser_username.$valid" type="button"
                                        class="btn btn-primary" ng-click="vm.addNewUser(newUser)">Ajouter ce joueur au
                                    site
                                </button><button class="btn btn-primary" ng-click="vm.addNewPlayer = false">Annuler</button>
                            </div>

                            <button ng-if="vm.addNewPlayer !== true && vm.form.members.length < vm.tournament.max_player" type="button" class="btn btn-primary"
                                    ng-click="vm.addNewPlayer = true">Inscrire des joueurs non membres
                            </button>

                            <p class="text-warning">Attention, pensez à inclure les remplacants (s'il y en a).</p>

                            <p class="text-danger" ng-if="vm.form.members.length < vm.tournament.player_per_team">
                                Il doit y avoir au minimum {{ vm.tournament.player_per_team }} joueurs dans l'équipe
                            </p>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" ng-model="vm.readRules">
                                Merci de lire le reglement <strong><a href="{{ vm.tournament.rules }}" target="_blank" ng-click="vm.readRules = true">ici</a></strong>
                            </label>
                            <div ng-if="vm.readRules === false">
                                <p class="text-danger">Vous devez avoir lu le reglement.</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit"
                                    ng-disabled="registerForm.$invalid || (vm.form.members.length < vm.tournament.player_per_team || vm.form.members.length > vm.tournament.max_player)"
                                    class="btn btn-primary">Enregistrer l'équipe
                            </button>
                        </div>
                    </form>

                    <!-- Submission du formulaire ok et inscription de la team ok-->
                    <div class="text-center" ng-if="vm.submitionOk">
                        <div>
                            <h2>Résumé de la réservation pour {{ vm.tournament.name }}</h2>
                            <dl>
                                <dt>Chef d'équipe</dt>
                                <dd>{{ vm.me.username }} : {{ vm.me.email }}</dd>
                                <dt>Prix a payer</dt>
                                <dd>{{ vm.tournament.price * vm.tournament.player_per_team }}€ par personne</dd>
                                <dt>Liste des joueurs</dt>
                                <dd ng-repeat="user in vm.toSend.members">{{ user.username }} : {{ user.email }}</dd>
                            </dl>
                        </div>
                        <form method="post" action="{{ vm.paypalUrl }}" class="paypal-button"
                              target="_top" style="opacity: 1;">
                            <div class="hide" id="errorBox"></div>
                            <input type="hidden" name="button" value="buynow">
                            <input type="hidden" name="business" value="42.esport@gmail.com">
                            <input type="hidden" name="item_name" value="tournoi_{{ vm.tournament.name }}">
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="amount"
                                   value="{{ vm.tournament.price * vm.tournament.player_per_team }}">
                            <input type="hidden" name="currency_code" value="EUR">
                            <input type="hidden" name="shipping" value="0">
                            <input type="hidden" name="tax" value="0">
                            <input type="hidden" name="notify_url" value="{{ vm.paypalReturnUrl }}/api/v1/ipn">
                            <input type="hidden" name="cancel_url"
                                   value="{{ vm.paypalReturnUrl }}/tournament/{{ vm.tournament.name }}/register-cancel">
                            <input type="hidden" name="return" value="{{ vm.paypalReturnUrl }}/api/v1/ipn-return">
                            <input type="hidden" name="cmd" value="_xclick">
                            <input type="hidden" name="bn" value="JavaScriptButton_buynow">
                            <input type="hidden" name="custom" value="{{ vm.teamId }}"/>
                            <button type="submit" class="paypal-button large">Buy Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
